{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}

// {
//   "env": {
//     "node": true
//   },
//   "parserOptions": {
//     "ecmaVersion": 8
//   },
//   "extends": "eslint:recommended",
//   "globals": {
//     "example": false
//   },
//   "rules": {
//     "semi": 2
//   }
// }
